@use '../../../scss/variables.scss' as v;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.form-container {
  display: flex;
  // height: 800px;
  padding: 2rem 0;
  width: 400px;
  min-height: 450px;
  min-width: 200px;
  font-size: 1.1rem;
  border-radius: 3px;
  background: v.$color-background-white;
  border: 0 solid v.$color-border-radius;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

  .user-details-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;

    & label {
      font-weight: 500;
      margin-bottom: 0.3rem;
    }

    & input {
      height: 40px;
      width: 100%;
      margin-bottom: 0.7rem;
      border: 1px solid v.$color-border-radius;
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 0.9rem;
      border-radius: 10px 10px;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 0.7rem;
      justify-content: center;

      >label {
        margin-top: 5px;
        display: flex;
        align-items: center;

        >a {
          margin-left: 0.3rem;
          color: v.$color-terms-main;
          cursor: pointer;
        }

        & input[type="checkbox"] {
          margin: 0;
          margin-right: 0.5rem;
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}