$color-background-white: #ffffff;
$color-background-light-baby-blue: #dffeff;
$color-darker-baby-blue: #13c9d7;
$color-baby-blue: #13dffd;
$color-terms-main: #1bb0ce;
$color-terms-hover: #1eb0ce;
$color-black-shade-text: #444;
$color-border-radius: #69727d;
